<section class="blog-card">
  <div class="container">
    <div class="blog-card-content-wrap">
      <div class="blog-card-heading-wrap">
        <h2>Heading</h2>
      </div>
      <div class="blog-card-list-wrap">
        <div class="blog-card-item">
          <h5>Heading Item</h5>
          <p>April 21,2026</p>
          <p>Description Text</p>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .blog-card {
    padding: 80px 0px;
  }
  .blog-card-content-wrap {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .blog-card-list-wrap {
    display: grid;
  }
  .blog-card-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
</style>
{% schema %}
{
  "name": "Blog With Card",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    }
  ],
  "presets": [
    {
      "name": "Blog With Card",
      "category": "Blog"
    }
  ]
}
{% endschema %}
