<h1>{{ shop.name }}</h1>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis nostrum fugit odio amet rem, sed voluptate aspernatur
  consequuntur sit dolorem ex consequatur cupiditate voluptatibus minima temporibus modi adipisci a ipsa!
</p>
