* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--font-body) !important;
  background-color: var(--color-background);
  color: var(--color-text);
  line-height: 1.3;
}
/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading) !important;
  line-height: 1.2;
  font-weight: 700;
  color: var(--color-heading);
}
/* Links */
a {
  color: var(--color-primary);
  text-decoration: none;
}
.container {
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
}
h1 {
  font-size: clamp(48px, 2.2vw, 32px);
}
h2 {
  font-size: clamp(36px, 2vw, 28px);
}
h3 {
  font-size: clamp(30px, 1.8vw, 24px);
}
h4 {
  font-size: clamp(24px, 1.5vw, 20px);
}
h5 {
  font-size: clamp(20px, 1.3vw, 18px);
}
h6 {
  font-size: clamp(18px, 1.2vw, 16px);
}
p {
  font-size: clamp(16px, 1.2vw, 14px);
}
button,
input,
textarea {
  font-size: clamp(16px, 1.2vw, 14px);
}
.button {
  cursor: pointer;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  border: 1px solid var(--color-primary);
  padding: 10px 20px;
  border-radius: 30px;
  transition: background-color 0.3s ease;
}
.button:hover {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
}
.outline-button {
  cursor: pointer;
  background-color: transparent;
  text-align: center;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  padding: 15px 25px;
  border-radius: 30px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.outline-button:hover {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}
input,
textarea {
  border: 1px solid var(--color-text);
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  max-width: 400px;
}
input:focus,
textarea:focus {
  outline: none;
  border-color: var(--color-primary);
}
::placeholder {
  color: var(--color-text);
  opacity: 0.7;
}
::-webkit-input-placeholder {
  color: var(--color-text);
  opacity: 0.7;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
